body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  max-width: 100ch;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
li::before {
  content: "> ";
}
main {
  flex: 1;
}
time {
  font-size: 0.8em;
  color: #999;
}
